body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #83a4d4, #b6fbff);
}

.url-box {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
    font-size: 0.9em;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.button:hover {background-color: #3e8e41}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
