body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(120deg, #f6f9fc, #eef1f5);
}

.info-text {
    color: #555;
}

footer {
    color: #555;
    padding-top: 20px;
}

.card {
    border-radius: 15px;
    overflow: hidden;  // For the card header's color to properly follow the card's rounded corners
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

/* Transitions */
a,
button {
    transition: all 0.3s ease;
}

a:hover,
button:hover {
    transform: translateY(-3px);
}
